.banner{

    background-image: url('../img/banner.jpg');
    background-position: top center;
    background-size: cover;
    padding: 5% 35% 20% 5%;

}

.menu{
    background-color: transparent;
    transition: 1s;
}

.menu2{
    background-color: black;
    opacity:0.8;
    transition: 1s;
}

.formulario{
    background-color: black;
    opacity: 0.7;
    border-radius: 20px;
   
}